header {
  position:relative;
  margin-top: 2vw;
  width: auto;
  display: flex;
  align-items: right;
  align-content: right;
}

.icon {
  width:3vw;
  height: auto;
  margin-left: 8vw;
}

.homeButton,.gameButton{
  display:inline;
  float:right;
}

.homeButton:hover {
  color: rgb(151, 151, 151);
}

.homeButton {
  margin-left: 60vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.gameButton {
  margin-left: 4vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: crimson;
  text-decoration: none;
}

body {
    margin:auto;
    font-family: Montserrat;
    color: aliceblue;
    background: #1b1b1b;
  }

.gameBoard{
  margin-top: 2vw;
  justify-content: center;
}

.computer1Hand{
  display: flex;
  justify-content: center;
}

.computerCard{
  margin-left: -.05vw;
  width: 8%;
  height: auto;
}

.middleDeck{
  margin-left: 15%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: center;
}

.drawPile{
  width: 29%;
  height: auto;
  margin-left: 1vw;
}

.playPile{
  width: 29%;
  height: auto;
  margin-right: 1vw;
}

.playerHand{
  display: block;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vw;
}

.playerCard{
  transition: transform 0.5s ease;
  margin-left: -.05vw;
  width: 8%;
  height: auto;
}

.playerCard:hover{
  z-index: 100;
  transform:translateY(-20px) rotate(-3deg);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}