header {
  position:relative;
  margin-top: 2vw;
  width: auto;
  display: flex;
  align-items: right;
  align-content: right;
}

.icon {
  width:3vw;
  height: auto;
  margin-left: 8vw;
}

.homeButton,.gameButton{
  display:inline;
  float:right;
}

.homeButton:hover {
  color: rgb(151, 151, 151);
}

.homeButton {
  margin-left: 60vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.gameButton {
  margin-left: 4vw;
  font-size: 1.5vw;
  font-weight: 500;
  color: crimson;
  text-decoration: none;
}

body {
    margin:auto;
    font-family: Montserrat;
    color: aliceblue;
    background: #1b1b1b;
  }

#WildPopUp, #Plus4PopUp{
    background: rgba(0, 0, 0, 0.89);
    visibility: hidden;
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5% 5% 5% 5%;
    border-radius: 1em;
    background-color: rgba(59, 59, 59, 0.911);
    color: white;
    text-align: center;
    font-size: 1.5vw;
  }

  #LossPopUp, #WinPopUp {
    background: rgba(0, 0, 0, 0.89);
    visibility: hidden;
    position: absolute;
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5% 5% 5% 5%;
    border-radius: 1em;
    background-color: rgba(59, 59, 59, 0.986);
    color: white;
    text-align: center;
    font-size: 1.5vw;
  }

  .resultHeader{
    margin-top: 3%;
    font-weight: 900;
  }

  .chooseCardHeader {
    margin-top: 0%;
  }

  .chooseCard{
    width: 85%;
    padding-left:5%;
    padding-right:5%;
  
  }

  .resultRow{
    display: block;
    width: 100%;
  }

  .row{
    display: flex;
    width: 100%;
  }

  .col-3{
    width: 25%;
  }

  .resultImg{
    width: 15rem;
  }

  .playButton:hover, .infoButton:hover {
    background-color: rgb(255, 0, 0);
    }
    
    .playButton, .infoButton{
      padding: 1vw 5vw 1vw 5vw;
      background-color:rgba(0, 0, 0, 0.712);
      font-weight:600;
      color: rgb(255, 255, 255);
      border: white solid 2px;
      text-decoration: none;
    }
    
    .playButton {
      border-radius: 1em;
      font-size: 1vw;
      margin-right: 1vw;
    }
    
    .infoButton {
      border-radius: 1em;
      font-size: 1vw;
      margin-left: 1vw;
    }

.gameBoard{
  margin-top: 2vw;
  justify-content: center;
}

.TurnTitles{
  text-align: center;
}

.computerHand{
  display: flex;
  justify-content: center;
}

.computerCard{
  margin-left: -.05vw;
  width: 8%;
  height: auto;
}

.middleDeck{
  margin-left: 15%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
}

.drawPile{
  width: 29%;
  height: auto;
  margin-left: 1vw;
}

.playPile{
  width: 29%;
  height: auto;
  margin-right: .5vw;
}

.playerHand{
  display: block;
  text-align: center;
  justify-content: center;
  margin-bottom: 5vw;
}

.playerCard{
  transition: transform 0.5s ease;
  margin-left: -.05vw;
  width: 8%;
  height: auto;
}

.playerCard:hover{
  transform:translateY(-20px) rotate(-3deg);
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

@keyframes playerTurnGlow {
    from {
        text-shadow: 0 0 15px #00e64d, 0 0 30px #00e64d;
      }
      to {
        text-shadow: 0 0 15px #00e64d;
      }
}

@keyframes computerTurnGlow {
  from {
      text-shadow: 0 0 10px #e60000, 0 0 20px #e60000, 0 0 60px #e60000;
    }
    to {
      text-shadow: 0 0 10px #e60000;
    }
}